* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 10px;
    background: #F5F8FB;
    font-family: 'McLaren', cursive;
    /* font-family: 'ZCOOL XiaoWei', serif; */
    /* font-family: 'Lakki Reddy', cursive; */
    /* font-family: 'Boogaloo', cursive; */
}

h1 {
    font-size: 1.3rem;
    color: #7C92A7;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}


.sidebar {
    width: 21.3rem;
    height: 45.5rem;
    background: white;
    -webkit-box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
    box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
}
.sidebar-header {
    height: 3rem;
    text-align: center;
    margin-top: 0.5rem;
}
.sidebar-header span {
    color: #4FCDF5;
}
.sidebar-menu {
    text-align: left;
    margin-top: 2rem;
}
.sidebar-menu-inner {
    width: 80%;
    /* margin-left: 5%; */
}
.sidebar-menu-inner h1{
    margin-left: 1.2rem;
    font-size: 1rem;
}
.sidebar-menu ul {
    list-style: none;
    margin-top: 1rem;
}

.sidebar-menu ul li {
    text-align: left;
    width: 100%;
    padding: 1rem;
}
.sidebar-menu ul li:nth-child(1) {
    border-left: 2px solid #4FCDF5;
    -webkit-box-shadow: 12px 1px 35px -12px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 12px 1px 35px -12px rgba(0, 0, 0, 0.51);
    box-shadow: 12px 1px 35px -12px rgba(0, 0, 0, 0.51);
}
.sidebar-menu ul li:nth-child(1) i {
    color: #4FCDF5;
}
.sidebar-menu ul li:not(:nth-child(1)){
    margin-left: .5rem;
}
.sidebar-menu ul li:not(:nth-child(1)) i{
    color:#90A3B5;
    margin-left: -.3rem;
}
.sidebar-menu ul li i {
    margin-right: .7rem;
    font-size: 1rem
}
.sidebar-menu ul li a {
    text-decoration: none;
    margin-top: .5rem;
    color: #5F5F68;

}
.sidebar-settings{
    margin-top: 4rem;
}
.sidebar-settings h1{
    margin-left: 1.2rem;
    font-size: 1rem;
}
.sidebar-settings ul {
    list-style: none;
    margin-top: .5rem;
}
.sidebar-settings ul li {
    text-align: left;
    width: 100%;
    padding: 1rem;
}
.sidebar-settings ul li i {
    margin-right: .7rem;
    font-size: 1rem;
    color:#90A3B5;
}
.sidebar-settings ul li a {
    text-decoration: none;
    margin-top: .5rem;
    color: #5F5F68;
}


.content {
    width: 100rem;
    margin-left: 0.2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background: white;
    -webkit-box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
    box-shadow: 12px 1px 35px -25px rgba(0, 0, 0, 0.51);
}

.header-container-left {
    margin: 1rem;
    display: flex;
}

.header-container-left i {
    margin: 0rem .7rem 0rem 0rem;
    color: #CED4DE;
    font-size: 1rem;
    cursor: pointer;
}

.header-container-left h2 {
    color: #4F5059;
    user-select: none;
}

.header-container-right {
    padding: 0 2rem;
    margin: 1rem;
    display: flex;
}

.header-container-right i {
    /* padding: 0 .5rem; */
    color: #CED4DE;
    font-size: 1rem;
    margin: .1rem 1rem .3rem 0;
}

.header-container-right h3 {
    color: #6A6B73;
}

.header-container-right img {
    width: 2rem;
    height: 2rem;
    margin-top: -.5rem;
    margin-right: .5rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main{
    padding: 1rem;
}
.main-content{
    display: flex;
    background: white;
}
.main-content-left{
    border-right: 1px solid #F9FAFC;
}
.main-content-left-header{
    height: 3rem;
    border-bottom: 1px solid #F9FAFC;
    width: 25rem;
}
.main-content-left-header ul{
    list-style: none;
    margin-left: 2rem;
}
.main-content-left-header ul li{
    list-style: none;
}
.main-content-left-header ul li a{
    float: left;
    text-decoration: none;
    padding: 1rem;
}
/* .main-content-left-header ul li a:last-child{
    color: red;
} */
.main-content-left-header ul li a i{
    margin-left: 5rem;
}
.main-content-left-fonts{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.main-content-left-fonts h2{
    color: #B6B7BA;
}
.main-content-left-fonts i{
    color: #4FCDF5;
    font-size: 1rem;
    margin-top: .1rem;
}
.main-content-left-radio-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.radio-container input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.radio-btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #E8ECF0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.radio-container:hover input ~ .radio-btn{
    background: #ccc;   
}

.radio-container input:checked ~ .radio-btn {
    background-color: #4FCDF5;
  }
.radio-btn:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container input:checked ~ .radio-btn:after {
    display: block;
}
.radio-container .radio-btn:after {
   top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}
.font-style-wrapper{
    padding: 1rem;
    
}
.font-style-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.font-style-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.font-style-footer{
    padding: 1rem;
    
}
.font-style-footer-para{
    text-align: right;
    margin-right: 1.1rem;
}
.font-style-footer-button{
    margin-top: .5rem;
    text-align: center;
}
.font-style-footer-button button{
    width: 90%;
    padding: 1rem;
    font-size: .8rem;
    color: white;
    background: #4FCDF5;
    border: none;
    letter-spacing: .1rem;
    cursor: pointer;
    text-transform: uppercase;
}



.footer-wrapper{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background: #FDFDFF;
    position: relative;
    bottom: -11.5rem;
    color: #CBD3DE;
}
.footer-wrapper p, h3{
    font-size: .8rem;
    padding: 1rem;
}

